
/*this is the main part of the game
/*white section of the website with in formation*/
.minor-section {
    background-color: rgba(255, 255, 255, 0.897);
    padding-top: 15px;
    margin-top: 30px;
    padding-bottom: 80px;
    border: solid 10px #001638;
}

/* welcome to...*/
h2 {
    font-size: xx-large;
    color: #001638;
    text-align: center;
}

/*lower header*/
h3 {
    font-size: medium;
    color: #001638;
    margin-left: 10px;
}

/*paragraph text */
p {
    font-size: 23px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 22px;
}

/*yellow background*/
body {
    background-color: #ffcc00;
    padding-left: 70px;
    padding-right: 70px;
    background-size: 100%;
}


/*tidal page
/*game of life title*/
h1 {
    padding-top: 55px;
    color: #001638;
    margin-left: 20px;
}

h4 {
    padding-top: 50px;
    color: #001638;
    margin-left: 35px;
    padding-left: 300px;
    font-size: 33px;
    letter-spacing: 3px;
    font-weight: lighter;
    margin-top: 20px;
}

/*slug pic*/
.slug {
    display: block;
    margin: 1px;
    max-width: 120px;
}

/*welcome*/
.welcome {
    font-size: 25px;
    margin: 10px;
}

/*UCSC title*/
.text2 {
    font-size: 70px;
    position: absolute;
    top: 45px;
    left: 205px;  
    color: #001638;
    font-weight: bold;
}


/*----------------button stuff---------------------*/
#start {
    font-size: 120%;
    background-color: #ffcc00;
    color: #001638;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 30px;
    border: solid 3px #001638;
    letter-spacing: 2px;
}

button{
    background-color: #ffcc00;
    font-size: 110%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/*--------------------hides the info---------------*/
.hidden {
    display: none;
  }

/* should have different college info appear
.sectionbox{
    background-color: rgba(106, 183, 255, 0.644);
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;
    border: solid 2px aliceblue;
} */

/*photos for dorms*/
.college_photo {
    max-width: 300px;
}

/*map of UCSC on start page*/
.collegemap {
    max-height: 600px;
    margin-left: 10px;
}
.collegemap2 {
    max-height: 350px;
    margin-left: 90px;
    margin-bottom: 100px;
}

.college_photo{
    display: block;
    margin: 10px;
    max-width: 450px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}


